/* Navigation.css */

.navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    padding: 10px;
    min-height: 50px;
}

.navigation-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('./imgs/PaperTear-2.png');
    background-repeat: repeat-x;
    background-position-y: 30px;
    pointer-events: none; /* Allow click-through to buttons */
    z-index: 10;
}

.button {
    position: relative;
    z-index: 1; /* Place buttons above the ::before pseudo-element */
    padding: 8px 8px 8px 8px; /*t l b r */
    font-size: 14px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    transform: translateY(0px) rotate(0deg);
    transition: transform 0.3s, background-color 0.3s;
    filter: drop-shadow(10 -10px 20px rgba(0, 0, 0, 0.1));
}




.button:hover {
    background-color: #45a049;
    transform: translateY(-5px); /* Adjust the amount of pull-up */


}

.button:active {
    transform: translateY(0); /* Bring the button back to its original position on click */

}

/* Define additional styles for each button individually */

.button.sticky-note {
    background-color: #3498db; /* Blue color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.sticky-note::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}

.button.sticky-note:hover {
    background-color: #45A9ec; /* Blue color */
    padding-bottom: 12px;
    transform: translateY(-10px) rotate(-1deg);
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.pencil {
    background-color: #e74c3c; /* Red color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.pencil:hover {
    background-color: #f85d4d; /* Red color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}
.button.pencil::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}
.button.paperclip {
    background-color: #2ecc71; /* Green color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.paperclip:hover {
    background-color: #3fdd82; /* Green color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}
.button.paperclip::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}
.button.eraser {
    background-color: #f39c12; /* Yellow color */
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 1000% 0, 10000% 10000%, 0 10000%); 
}

.button.eraser:hover {
    background-color: #f4ad23; /* Yellow color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.eraser::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}
.button.circle {
    background-color: #9b59b6; /* Purple color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.circle:hover {
    background-color: #ac6ac7; /* Purple color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.circle::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}


.button.pen-image {
    background-color: #1abc9c; /* Turquoise color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.pen-image:hover {
    background-color: #3cdebe; /* Turquoise color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.pen-image::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}



.button.text {
    background-color: #3498db; /* Turquoise color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.text:hover {
    background-color: #56bafd;/* Turquoise color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.text::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}



.button.square {
    background-color: #b6598b;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.square:hover {
    background-color: #d87bad;
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.square::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}



.button.toggle-drawing {
    background-color: #55bc1a; /* Turquoise color */
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 

}

.button.toggle-drawing:hover {
    background-color: #77de3c; /* Turquoise color */
    transform: translateY(-10px) rotate(-1deg);
    padding-bottom: 12px;
    clip-path: polygon(-500px 0px, 10000% 0, 10000% 10000%, 0 10000%); 
}

.button.button.toggle-drawing::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust this value to control the initial position of the backgrounds */
    right: -100vw;
    left: -100vw;
    bottom: -40px;
    background-image: url('./imgs/PaperTear-2.png'), url('./imgs/lined-paper.png');
    background-repeat: repeat-x, repeat-x;
    background-position-y: 5px, 30px; /* Adjust these values to control the position of each background */
    transform: rotate(0deg);
    z-index: -1;
    pointer-events: none;
    /* clip-path: polygon(20px 0px, 100% 0, 100% 100%, 0 100%);  */

    clip-path: inset(0 0 55% 0);
}